.piccolo {
  font-size: 10px;
 }

.azzurro {
  color: #00ccff;
}



header {
  background-image: url("../img/pattern.png");
  background-size: 12%;
  background-color: #4299f0;
  height: 60px;
  width: auto;
}
#logo {
  height: 30px;
  padding: 25px 50px 75px 100px;
}
main {
  margin: 25px 50px 75px 100px;
}
#scrittoda {
  line-height: 0px;
}
.evidenziato {
background-color: yellow;
}

thead {
  background-color: #66c2ff;
  color: white;
  text-align: left;
  
}

.sfondo-azzurro {
background-color: #b3e0ff;
}
th {
  width: 150px;
}
table {
  border-collapse: collapse;
}